<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="icon" type=".imges" href="/img/app.jpg">
    <title>Acerca</title>
</head>
<body>

    <header>
        <div class="contenedor">
            <h1 class="icon-logo">Juan Quitian</h1>
            <input type="checkbox" id="menu-bar">
            <label class="icon.menu" for="menu-bar">Menu</label>
            <nav class="menu"> 
                <a href="/">Inicio</a>
                <a href="/experiencia">Experiencia</a>
                <a href="/aptitudes">Actitudes</a>
            </nav>
        </div>   
    </header>

    <main>
        <section id="banner">
            <img src="/img/actitudes.jpg" alt="fondo">
            <div class="contenedor">
                <h2>Vamos que vamos  :=)</h2>

            </div>
        </section>


        <section id="Bienvenidos">
            <h2>Disupuesto a aprender</h2>
            <p>La ética y responsabilidad como guías del camino! la alegría y camaradería me caracterizan.
                Explorando un mundo de programación de nuevas actualizaciones.
                mi frase en momentos difíciles es: ¡vamos que vamos!.
            </p>


        </section>

        <section id="info">

            <h3> Te invito a trabajar juntos  </h3>
            <div class="contenedor">
                <div class="info-exp">
                    <h4>
                        Sigamos adelante!
                    </h4>
                </div>
            </div>
        </section>

    </main>


<!-- inicio de footer -->
    <footer>

        <div class="contenedor">
            <p class="copy">Juan Quitian  &copy;2020</p>
            <div class="sociales">
                <a class="Icon-facebook" href="#"><img src="/img/facebook.png" width="30px"></a>
                <a class="Icon-twitter" href="#"><img src="/img/twitter.png" width="30px"></a>
                <a  class="Icon-instagram" href="#"><img src="/img/instagram.png" width="30px"></a>

            </div>
        </div>

    </footer>
</body>
</html>