<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="icon" type=".imges" href="/img/app.jpg">
    <title>Usuario</title>
</head>
<body>

    <header>
        <div class="contenedor">
            <h1 class="icon-logo">Juan Quitian</h1>
            <input type="checkbox" id="menu-bar">
            <label class="icon.menu" for="menu-bar">Menu</label>
            <nav class="menu"> 
                <a href="/">Inicio</a>
                <a href="/experiencia">Experiencia</a>
                <a href="/aptitudes">Actitudes</a>
            </nav>
        </div>   
    </header>

    <main>
        <section id="banner">
            <img src="/img/experiencia.jpg" alt="fondo">
            <div class="contenedor">
                <h2>Conoce un poco de mi hoja vida</h2>
                <p>Siempre para adelante </p>
                <a href="/acerca">Conóceme</a>
            </div>
        </section>


        <section id="Experiencia">
            <h2>Experiencia</h2>
            <p>Diseñador e implementador de estrategias para pasar "del dicho al hecho". Estudiante de fullstack en Bictia.
                Experiencia como coordinador y planning BTL con experiencia en gestión y operación de campañas de mercadeo offline-online centradas en la experiencia para el cliente y captura de insigths de negocio.
                Conocimiento en metodologías para diseño de modelos de negocio, validación de hipótesis de ideas de negocio y estrategias de obtención, retención y crecimiento de clientes en empresas de etapa temprana.
                Co-fundador de www.mapeadosencolombia.co !</p>


        </section>

        <section id="info">

            <h3>Mi camino a Fullstak </h3>
            <div class="contenedor">
                <div class="info-exp">
                    <img src="/img/perfil.jpg" >
                    <h4>Juan Quitian</h4>
                </div>
                <b>
                <p> 
                <ul>
                     <li>Estudios</li> 
                     <ul> 	
                    <li>Administración en gestión documental - Sena</li>  
                    <li>Fundamentos base de datos MySql-  Inncap</li> 
                    <li>Metodoligias The Lean LaunchPad - Udacity</li>
                    <li>Introducción a la Creación de Empresas y Startups - Platzi</li>
                    <li>Fundamentos de Programación - Bictia</li>
                    <li>Curso de Desarrollo Web Online - Platzi</li>
                    <li>Curso de Prework: Buenas Prácticas y Entorno de Desarrollo - Platzi</li>
                    <li>Curso de Responsive Design - Platzi</li>
                     <br>
                    </ul>
                </ul>
                
                
                
                <ul>
                    <li>Experiencia</li>  
                    <li>Emprenderor Produciones Activa agencia de personal-</li>
                    <li>Emprendedor MapeadosenColombia Platafoma de emprendedores en Colombia</li>
                    <li>Mentor Startup Weekend en metodologías ágiles para emprendimientos</li>
                    <li>Asesor para programas en Universidades - Católica de Colombia - Cooperativa sede Ibagué </li>
                </ul>    
                </p>
        </section>

    </main>


<!-- inicio de footer -->
    <footer>

        <div class="contenedor">
            <p class="copy">Juan Quitian  &copy;2020</p>
            <div class="sociales">
                <a class="Icon-facebook" href="#"><img src="/img/facebook.png" width="30px"></a>
                <a class="Icon-twitter" href="#"><img src="/img/twitter.png" width="30px"></a>
                <a  class="Icon-instagram" href="#"><img src="/img/instagram.png" width="30px"></a>

            </div>
        </div>

    </footer>
</body>
</html>