<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="icon" type=".imges" href="/img/app.jpg">
    <title>Inicio</title>
</head>
<body> <!-- inicio de menu -->
    <header>
        <div class="contenedor">
            <h1 class="icon-logo">Juan Quitian</h1>
            <input type="checkbox" id="menu-bar">
            <label class="icon.menu" for="menu-bar">Menú</label>
            <nav class="menu"> 
                <a href="/">Inicio</a>
                <a href="/experiencia">Experiencia</a>
                <a href="/aptitudes">Actitudes</a>
            </nav>
        </div>   
    </header>
<!-- fin de menu -->
    <main>
        <section id="banner">
            <img src="/img/pantalla1.jpg" alt="fondo">
            <div class="contenedor">
                <h2>Conoce un poco de mi hoja vida</h2>
                <p>Siempre para adelante </p>
                <a href="/experiencia">Conóceme</a>
            </div>
        </section>


        <section id="Bienvenidos">
            <h2>Bienvenidos </h2>
            <p>Siguiendo el camino para contribuir desde el código a que hayan mejores soluciones digitales para el mundo !</p>

        </section>

        <section id="info">

            <h3> Conocimientos en lenguajes como  </h3>
            <div class="contenedor">
                <div class="info-exp">
                    <img src="/img/html.png" >
                    <h4>HTML</h4>
                </div>
                <div class="info-exp">
                    <img src="/img/javascript.png" >
                    <h4>JAVASCRIPT</h4>
                </div>
                <div class="info-exp">
                    <img src="/img/css.png" >
                    <h4>CSS</h4> 
                </div>
                <div class="info-exp">
                    <img src="/img/sql.png" >
                    <h4>SQL</h4>
                </div>
        </section>

    </main>


<!-- inicio de footer -->
    <footer>

        <div class="contenedor">
            <p class="copy">Juan Quitian  &copy;2020</p>
            <div class="sociales">
                <a class="Icon-facebook" href="#"><img src="/img/facebook.png" width="30px"></a>
                <a class="Icon-twitter" href="#"><img src="/img/twitter.png" width="30px"></a>
                <a  class="Icon-instagram" href="#"><img src="/img/instagram.png" width="30px"></a>

            </div>
        </div>

    </footer>


</body>
</html>